$brand-first:     #3f89b2;
$brand-second:    #df8877;
$brand-third:     #2d6280;

$gray-first:      #4f4f4f;
$gray-second:     #828282;
$gray-third:      #f2f2f2;
$gray-fourth:     #e0e0e0;
$gray-fifth:      #bdbdbd;

$blue-first:      #092c4c;

$black-first:     #333333;

$theme-colors: (
  'brand-first':    $brand-first,
  'brand-second':   $brand-second,
  'brand-third':    $brand-third,
  'gray-first':     $gray-first,
  'gray-second':    $gray-second,
  'gray-third':     $gray-third,
  'gray-fourth':    $gray-fourth,
  'gray-fifth':     $gray-fifth,
  'blue-first':     $blue-first,
  'black-first':    $black-first,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  'awe-32':   $spacer * 2,
  'awe-40':   $spacer * 2.5,
  'awe-56':   $spacer * 3.5,
  'awe-64':   $spacer * 4,
  'awe-96':   $spacer * 6,
  'awe-128':  $spacer * 8,
  'awe-160':  $spacer * 10,
);

$font-weight-thin:          100;
$font-weight-extra-light:   200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-extrabold:     800;
$font-weight-black:         900;

$font-sizes: (
  0: 0,
  14: 14px,
  16: 16px,
  18: 18px,
  24: 24px,
  40: 40px,
  56: 56px,
);

$font-family-sans-serif: 'Inter', sans-serif;

$btn-border-radius:   8px;

$accordion-button-active-bg:        $blue-first;
$accordion-button-active-color:   white;
$accordion-border-radius:           8px;
$accordion-border-width:            2px;
$accordion-button-color:            $blue-first;
$accordion-padding-x:               1.5rem;

$form-label-font-weight:            bold;
$form-label-color:                  $gray-first;

$form-check-input-checked-bg-color:   $blue-first;

$input-color:                       $form-label-color;
$input-btn-padding-y:               1rem;
$input-btn-padding-x:               1.5rem;

$breadcrumb-color:                #828282;
$breadcrumb-divider-color:          $breadcrumb-color;
$breadcrumb-divider:                url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L1 11.5' stroke='%23828282' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$breadcrumb-item-padding-x:         0.75rem;
$breadcrumb-margin-bottom:          0;
$breadcrumb-active-color:           $blue-first;

$dropdown-link-color:       $gray-first;
$dropdown-link-active-bg:   $brand-first;
