@import 'bootstrap';
@import 'components';

.transition {
  transition: 0.3s all !important;
}

.hamburguer {
  border: 0;
  padding: 0;
  height: 16px;
  width: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: transparent;

  .line {
    height: 2px;
    width: 100%;

    background: $blue-first;
    transition: 0.3s all;
  }

  &:not(.collapsed) {
    .line:nth-child(1) {
      transform: translate(0px, 7px) rotate(45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: translate(0px, -7px) rotate(-45deg);
    }
  }
}

.banner {
  @extend .rounded;

  background: linear-gradient(
      90deg,
      rgba(9, 44, 76, 0.8995973389355743) 0%,
      rgba(9, 44, 76, 0.9) 100%
    ),
    url('/public/images/banner.png');
}

.bg-section-index {
  background: rgba(243, 243, 243, 1);

  @media screen and (min-width: 992px) {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 20%,
      20%,
      rgba(243, 243, 243, 1) 80%,
      rgba(0, 0, 0, 0) 80%
    );
  }
}

.bg-gradient-label-index {
  background: linear-gradient(
    0deg,
    rgba(63, 137, 178, 0.15) 50%,
    rgba(0, 0, 0, 0) 50%
  ) !important;
}

.bio-area {
  background-image: url('/public/images/logo-outline.svg');
  background-repeat: no-repeat;
  background-position-x: -150px;

  @media screen and (min-width: 768px) {
    background-position-x: 32px;
  }
}

.text-area {
  background-image: url('/public/images/quote.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 32px;
}

.shadow-custom {
  &.logo-index {
    box-shadow: -12px 12px #e7eff3;
  }
}

.fw-black {
  font-weight: 900 !important;
}

.accordion {
  .accordion-button {
    font-weight: bold;

    &:not(.collapsed) {
      margin: -2px;
      width: calc(100% + 4px);
      border: 2px solid $blue-first;
      margin-bottom: 0;
      border-bottom-width: 0;
    }
  }
  .accordion-body {
    background: $gray-fourth;
  }
}

textarea {
  resize: none;
}

.breadcrumb {
  .breadcrumb-item {
    font-weight: $font-weight-medium;

    display: flex;
    align-items: center;

    &:not(.active) {
      color: $breadcrumb-color;
    }
  }
}

.btn-reset {
  padding: 0 !important;
  border: none !important;
}

.sector-select {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 24px 16px 0;
  min-height: 162px;
  max-height: 162px;
  row-gap: 16px;

  background: white;
  transition: 0.3s all;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $blue-first;

  img {
    @extend .img-fluid;

    pointer-events: none;
  }

  &:hover,
  &.active {
    background: #3e89b11a;
    border-color: $brand-first;
  }
}

.border-dashed {
  border-style: dashed !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.file-uploaded {
  padding: 16px 24px;
  border: 1px solid $gray-fifth;

  @extend .rounded;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  svg {
    color: $blue-first;
  }
  img {
    margin-left: auto;
  }
  span {
    @extend .text-truncate;

    color: $blue-first;
    font-weight: bold;
  }
}

.logo-login {
  height: 64px !important;
}

.dropdown-fit {
  padding: 0;

  &::after {
    display: none;
  }
}

.object-cover {
  object-fit: cover !important;
}

.user-name {
  @extend .text-truncate;

  @include media-breakpoint-down(md) {
    max-width: 225px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 125px;
  }
}

.table-awe {
  --bs-table-bg: #092c4c;
  --border-radius: 4px;

  color: white;

  border-color: rgba(0, 0, 0, 0);

  th {
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}
