.activity-box {
  color: $blue-first;

  border: 1px solid currentColor;
  padding: 22px 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .activity-title {
    color: inherit;
    margin: 0;
  }
  .activity-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include media-breakpoint-up(md) {
      margin-left: 12px;
    }

    .activity-amount-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;

      .activity-amount-symbol {
        width: 24px;
        height: 24px;
        border-radius: 50%;

        background-color: var(--symbol-color, currentColor);
      }
      .activity-amount {
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
      }
    }
    .activity-percentage {
      font-size: 14px;

      margin-left: auto;

      @extend .text-truncate;
    }
  }
}
